# Imports

In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Functions

In [2]:
def tables(link:str):
  file = pd.ExcelFile(link)
  sheets = file.sheet_names
  table_list = []
  for name in sheets:
    x = pd.read_excel(link,sheet_name=name)
    if 'Unnamed: 0' in x.columns:
      x = x.drop('Unnamed: 0',axis=1)
    table_list.append(x)
  return table_list

In [3]:
def saving_sql(experiment:str,sheets_names,tables:list,index):
  table_name = experiment+f'_{sheets_names[index]}'
  table = tables[index]
  table.to_sql(table_name,conn,if_exists='replace',index=False)

# Data

In [4]:
links = [
    'https://github.com/Ben-physics-dotcom/Internships/raw/refs/heads/main/GPR2/Data/E1.xlsx',
    'https://github.com/Ben-physics-dotcom/Internships/raw/refs/heads/main/GPR2/Data/E3.xlsx',
    'https://github.com/Ben-physics-dotcom/Internships/raw/refs/heads/main/GPR2/Data/E4.xlsx',
    'https://github.com/Ben-physics-dotcom/Internships/raw/refs/heads/main/GPR2/Data/O10.xlsx',
    'https://github.com/Ben-physics-dotcom/Internships/raw/refs/heads/main/GPR2/Data/O3O4.xlsx',
    'https://github.com/Ben-physics-dotcom/Internships/raw/refs/heads/main/GPR2/Data/O6.xlsx',
    'https://github.com/Ben-physics-dotcom/Internships/raw/refs/heads/main/GPR2/Data/O8.xlsx'
]

In [5]:
experiments = ['E1','E3','E4','O10','O3O4','O6','O8']

In [9]:
table_list_gpr2 = []
sheet_names = []
for i in range(len(links)):
  lot = tables(links[i])
  x = pd.ExcelFile(links[i])
  table_list_gpr2.append(lot)
  sheet_names.append(x.sheet_names)

In [10]:
print(len(table_list_gpr2))
print(len(sheet_names))

7
7

# Data Base

In [13]:
conn = sqlite3.connect('GPR2.db')
c = conn.cursor()

In [16]:
for i in range(7):
  exp = experiments[i]
  sheets = sheet_names[i]
  table = table_list_gpr2[i]
  for j in range(len(sheets)):
    saving_sql(exp,sheets,table,j)

In [17]:
# Query to list all tables in the database
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Print all table names
print("Tables in the database:")
for table in tables:
    print(table[0])

Tables in the database:
E1_A1
E1_A3
E3_A1
E3_A2
E3_A3
E4_Aufgabe_1
E4_Aufgabe_2
E4_Aufgabe_3
E4_Aufgabe_5
E4_A8
E4_A9
E4_A10
E4_A12
O10_Bessel
O10_Abbe
O3O4_A1
O3O4_A2
O3O4_A4
O3O4_A4-0-Ordnung_Statistik
O3O4_A5
O6_A1
O6_A2
O6_Hg-blauer Filter
O8_A2
O8_A45

In [18]:
conn.close()